includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#PHPDoc tag @mixin#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
    checkMissingIterableValueType: true
    reportUnmatchedIgnoredErrors: false

